.status{
	background-color: greenyellow;
	font-size: 30px;
	height: 10%;
	line-height: 100px;
	text-align: center;
}

.cols{
	height: 780px;
}

.cellbox{
	border-radius: 25px;
	border: 1px solid black;
	text-align: center;
}

.cellbox > p{
	margin-top: 10px;
	font-size: 16pt;
}

.cellboxmini{
	border-radius: 25px;
	border: 1px solid black;
	height: 375px;
	text-align: center;
}

.col > p{
	margin-top: 10px;
	font-size: 16pt;
}

.container{
	width: inherit;	
}
 
img{
	width: 100px;
	height: auto;
}