.status{
	background-color: greenyellow;
	font-size: 30px;
	height: 10%;
	line-height: 100px;
	text-align: center;
}

.cols{
	height: 780px;
}

.cellbox{
	border: 1px solid black;
	text-align: center;
}

.cellboxmini{
	border: 1px solid black;
	height: 375px;
}

.container{
	width: inherit;	
}
